.header {
  height: 28px;
  background-color: #d73019;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.sangsiri-logo {
  width: 100%;
  margin-top: 39px;
}

.shop-icon-container {
  display: flex;
  justify-content: center;
}

.shop-icon-link{
  display: contents;
  justify-content: center;
}

.shop-icon {
  width: 10%;

}

.text-product-promo {
  font-size: 24px;
  text-shadow: 
    3px 3px 3px rgba(75, 75, 75, 0.2);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 19px;

}

.free-gift-text {
  font-size: 15px;
  color: rgb(95, 95, 95);
  text-shadow: 
    3px 3px 3px rgba(97, 97, 97, 0.2);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 19px;
}

